<msgqueue />
<if '$bAllowSubmit'>
<form class='createCommentForm' method="post">
	<div class="comment_textarea">
		<widget id="comment_content" />
		<input type='hidden' name='tid' value='{=$theParams["tid"]}' />
		<input type='hidden' name='type' value='{=$theParams["type"]}' />
		<input type='hidden' name='pid' value='{=$theParams["pid"]}' />
	</div>
	<input type='submit' value="发布" class="comment_submit" />
</form>
<else />
<div class='cannot_user_createcomment'>
	<a href='?c=login'>登录</a>后进行评论
</div>
</if>